<h2> Create Tweet </h2>

<form action="/tweets" method="POST">

  <label> Tweet </label>
  <input id="content" type="text" name="content"><br>

  <br></br>

  <input type="submit" value="submit">
</form>