<h2>  Edit Tweet </h2>

  <form action="/tweets/<%=@tweet.id%>" method="POST">
    <input  id="hidden" type="hidden" name="_method" value="patch">

     <label> Tweet </label>

     <input id= "content" type="text" name="content" value="<%= @tweet.content %>"><br>

    <br></br>

    <input type="submit" value="submit">
</form>