<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "../../css/login_style.css">
</head>
<body>

<div class = "login-box">
  <form action = "/tweets/<%=@tweet.id%>/edit" method = "post">
    <label for = "content">Content: </label><br>
    <textarea  name = "content" id = "content"><%=@tweet.content %></textarea>
    <input type = "hidden" name = "_method" value = "patch"/><br>
    <button id = "submit" type = "submit">Edit Tweet</button>
  </form>
  <%if flash[:message] %>
    <h2 style = "color: red;"><%=flash[:message] %></h2>
  <%end%>
 </div> <!-- login-box end -->

</body>

</html>
