<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content"><br>
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
