<h3 style = "position: absolute; top: 0; right: 10; color: blue;" >Welcome, <%= currentUser.username %> </h3>
<h2 style = "color: blue;">Tweets</h2>
<% if !@user.tweets.empty? %>
  <%@user.tweets.each do |tweet|%>
    <%=tweet.content%><br>
    <a href = "/tweets/<%=tweet.id%>" >look at this tweet</a><br>
  <%end%>
<%else %>
  <h3>You don't have tweets</h3>
<%end%>
