<html>

<head>
  <title>login</title>
  <link rel = "stylesheet" href = "../css/login_style.css" type = "text/css"/>
</head>

<body>
  <div class = "login-box">
    <form action = "/login" method = "post">
      <label for = "username">Username*: </label>
      <input type = "text" name = "username" id = "username"/><br><br>

      <label for = "password" >Password*: </label>
      <input type = "password" name = "password" id = "password" /><br><br>

      <button  type = "submit" id = "submit"> Log in </button>
    </form>
    <%if flash[:message]%>
    <h3 style = "color: red;"><%= flash[:message] %></h3>
    <%end %>
  </div> <!-- login-box end -->
</body>

</html>
