<h1> Your Tweets </h1>

<% @user.tweets.each do |tweet| %>
<h3><a href="/tweets/<%=tweet.id %>"><%= tweet.content%></a></h3>
    <% end %>

     <br>

    <a href="/tweets"> Return to Tweets </a>

      <br>

<a href="/logout">Log Out</a>