<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
<<<<<<< HEAD
    <nav>
      <% if logged_in? %>
        
        <a href="/tweets/new"> Create Tweet </a>
        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.username %></p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>
=======
>>>>>>> enforce_ar_version

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <h2>This is located in layout.erb!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>
    </div>

  </body>
</html>
